# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environment folders
venv/
.env/
.env.* 
.env.bak/
.venv/
.envrc/

# Anaconda / Conda environments
*.conda
*.ipynb_checkpoints

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# VSCode / IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# pyproject artifacts
*.egg
*.whl

# Test / coverage
.coverage
htmlcov/
.pytest_cache/
nosetests.xml
coverage.xml

# structure file
str.txt