from fastapi.testclient import TestClient
from {{ project_name }}.main import app

client = TestClient(app)

def test_health():
    response = client.get("/v1/health/")
    assert response.status_code == 200
    assert response.json()["status"] == "ok"
